<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido desde Ansible</title>
</head>
<body>
    <h1>Servidor desplegado con Ansible Role</h1>
    <p>Este nodo es: <strong>{{ inventory_hostname }}</strong></p>
</body>
</html>
